html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-size: 1.6rem ;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/*---------------HEADER---------------------*/
#logo{
    width: 120px;
    border-radius: 200px;
    margin: 10px;
    border: solid 3px #474B4E
}
.sectionLogo{
    display: flex;
    justify-content: center;
}
.linknav {
    box-sizing: border-box;
    background-color: black;
    color: white;  
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    align-items: center;
    padding: 14px 14px;
    font-family: 'Open Sans', sans-serif;
    border: solid 3px #474B4E;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none; 
    display: flex;  
    justify-content: space-around; 
    word-wrap: none; 
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.opciones li a:hover {
    color: #474B4E;
    text-decoration: underline;
}
.logo{
    width: 200px;
}
.encabezado{
    background-color: black;
    display: flex;
    justify-content: center;
}
.busqueda{
    margin-top: 30px;
    height: 50px;
    width: 500px;
    border: solid 3px #474B4E ;
}
.submitButton{
    border: 0px;
}
.lupaBusqueda{
    height: 35px;
    width: 35px;
    border: solid 3px #474B4E;
}

/* Footer: */
.itemFooter{
    padding: 4px;
    border: solid 3px #474B4E;
    margin: 10px;
}
/*-------------------------FIN DE HEADER-----------------------*/
/*---------------BOXES DE INICIO (NO TOCAR)--------------------*/
.info{
    font-size: 30px;
    color: black;
    line-height: normal;
}
.titulos{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #474B4E;
    padding: 20px 0 20px 0;
    
}

.cancion{
    transition:all .7s ease;
    width:100%;
    
}
.cancion:hover{
    transform:scale(1.07);
    background-color: #474B4E;
}
.cancion{
    width:15%;
}
.canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/*****************************************/
.discoAlbum{
    transition: all .7s ease;
    width:100%;
}
.discoAlbum:hover{
    transform:scale(1.07);
    background-color: #474B4E;
}
.discoAlbum{
    width: 15%;
}
.discosalbumes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*********************************************/
.artista{
    width:100%;
    transition: all .7s ease;
}
.artista:hover{
    transform:scale(1.07);
    background-color: #474B4E;
}
.artista{
    width:15%;
}


.artistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* detalle cancion */
/**Detalle de las canciones**/
.imgdetalles{
    width: 60%;
    /*margin-left: 20%;*/
}
.video{
    width: 100%;
}
.infodetalles{
    font-size: 18px;
}
.contenido{
    display: flex;
    flex-direction: column;
}
/**Detalle de los albumes**/
.detallesalbum{
    flex-direction: column;
    margin-right: 5%;
}

/* Seguimoss Playlist java script valita */

.imgplaylist{
    width: 20%;
    margin-top: 3%;
    text-align: center;
}

.resultadoPlaylist{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* detalle cancion modifique vali */
#detalleCancion{
    width: 30%;
    display: flex;
    flex-direction: column;
}
/* Géneros: */

.imagenGenero{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: row;
}